/*
!.gitignore
!ClassMetadataHelper.php
!ControllerHelper.php
!CryptoHelper.php
!DatabaseExportHelper.php
!DownloadHelper.php
!EntityHelper.php
!EntityQueryBuilderHelper.php
!FileHelper.php
!GlobalHelper.php
!RequestHelper.php
!ResponseHelper.php
!SecurityHelper.php
!StringHelper.php
!ThrowableHelper.php