# import it in config.yml
# imports:
#     ...
#     - { resource: "@AppBundle/Resources/config/services.yml" }
#
services:
#    mindlahus.example:
#        class: Mindlahus\Example
#        arguments: ["@service_id", "plain_value", %parameter%]
    mindlahus.v3.download_service:
        class: Mindlahus\SymfonyAssets\Service\DownloadService
        arguments: ["@service_container"]
    mindlahus.v3.database_export_service:
        class: Mindlahus\SymfonyAssets\Service\DatabaseExportService
        arguments: ["@service_container"]
    mindlahus.v3.exception_listener:
            class: Mindlahus\SymfonyAssets\EventListener\ExceptionListener
            tags:
                - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }
    mindlahus.v3.doctrine_extension_listener:
        class: Mindlahus\SymfonyAssets\Listener\DoctrineExtensionListener
        calls:
            - [ setContainer, [ "@service_container" ] ]
            - [ setUserRepository, [ "AppBundle:User" ] ]
        tags:
            # loggable hooks user username if one is in security context
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }
    a0_user_provider:
        class: Mindlahus\SymfonyAssets\Security\A0UserProvider
        arguments: ["@jwt_auth.auth0_service", '%jwt_auth.domain%']

    gedmo.listener.timestampable:
        class: Gedmo\Timestampable\TimestampableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ "@annotation_reader" ] ]

    gedmo.listener.blameable:
        class: Gedmo\Blameable\BlameableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ "@annotation_reader" ] ]
