/*
!Entity
!Exception
!.gitignore
!CommandTrait.php
!ControllerTrait.php
!CryptoTrait.php
!DatabaseExportTrait.php
!DownloadTrait.php
!FileTrait.php
!GlobalTrait.php
!StringTrait.php
!TestTrait.php
!VariablesMapTrait.php