/*
!Entity
!.gitignore
!ClassMetadataTrait.php
!CommandTrait.php
!ControllerTrait.php
!CryptoTrait.php
!CsvTrait.php
!DatabaseExportTrait.php
!DownloadTrait.php
!FileTrait.php
!GlobalTrait.php
!MatrixGeneratorTrait.php
!RequestTrait.php
!ResponseTrait.php
!StringTrait.php
!TestTrait.php
!MimeTypeExtensionTrait.php